/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face 
{
  font-family: HarenosoraMincho;
  src: url(‘../fonts/Harenosora.otf’) format(‘opentype’);
  font-weight: normal;
  font-style: normal; 
}

@font-face 
{
  font-family: Hirakakupro;
  src: url(‘../fonts/hirakakupro-w3.otf’) format(‘opentype’);
  font-weight: normal;
  font-style: normal; 
}

body {
	line-height: 1;
	position: relative;
	font-family: HarenosoraMincho;
	color: #000000;
	font-size: 16px;
	background:#ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@keyframes example 
{
	0%   {transform: scale(.2);}
	100% {transform: scale(1.0);}
}

div.inner
{
	margin: 0 auto;
    height: auto;
    display: block;
    max-width: 970px;
	background:#ffffff;
	width:100%;
}

.hidden-sp{
	display:none;
}

.w-100
{
	width:100%;
}

.mg-auto{
	margin:0px auto;
}

.dis-block{
	display:block;
}

/*header*/
.navi
{
	width: 30px;
    position: fixed;
    top: 27px;
    left: 35px;
}	

.navi ul
{
	margin: 10px 0px 0px 5px;
	width: 15px;
}

.navi ul li
{
	border-bottom: 2px solid #adadad;
}	

.navi ul li:last-child
{
	border-bottom: 0px solid #adadad;
}

.navi ul li a
{
	text-decoration:none;
	color:#000000;
	display: block;
    padding: 13px 0px 13px 0px;
}

.navi ul li:first-child a
{
	text-decoration:none;
	color:#000000;
	display: block;
    padding: 0px 0px 13px 0px;
}

.navi ul li a:hover
{

	text-decoration:none;
	color:#db0300;
}

img.btn_banner_pc
{
	position: fixed;
    top: 245px;
    right: 0px;
}

a:hover img.btn_banner_pc
{
	opacity: 0.7;
}

/*kazunoko*/
.kazunoko
{
	background:#fcfbfb;
	margin-bottom:106px;
}

.about-us-kazunoko
{
	padding-top:60px;
}

.text-kazunoko{
	margin: 52px auto;
    width: 770px;
}

.text-kazunoko p
{
	line-height: 26px;
    font-size: 16px;
    margin-bottom: 35px;
}

.text-kazunoko p:last-child
{
	line-height: 26px;
    font-size: 16px;
    margin-bottom: 0px;
}

/*products*/
.mt-9{
	margin-top:9%;
}

.products
{
	margin-bottom:80px;
}

.product-content{
	width:100%;
}

.list-of-products 
{
    width: 100%;
    margin: 25px 0px 0px 0px;
}

.product {
    width: 100%;
    margin: 0px 0px 30px 0px;
	overflow: auto;
}

.product a{
	width: 2.3%;
	float:left;
}

.title_pro:hover{
	opacity:0.5;
}

.title-pro 
{
    border-top: 2px solid #adadad;
    padding-top: 5px;
}

.text-pro
{
	width: 54%;
    margin-left: 7.7%;
	float:left;
}

p.text-pro-1
{
    font-size: 20px;
    line-height: 26px;
	margin-bottom: 30px;
}

p.text-pro-2
{
	font-size:16px;
	line-height: 26px;
}

p.reg-product
{
    width: 33%;
	float:right;
}

img.product-image
{
	animation-name: example;
    animation-duration: 4s;
    width: 100%;
	float: right;
}

/*order*/
.reg-order{
	margin-bottom:150px;
}

.order
{
	width: 100%;
    border-bottom: 1px solid #b8bbbb;
    height: 125px;
    border-color: #b8bbbb;
    border-top: double #b8bbbb;
}

.phone
{
	width: 30%;
    float: left;
    margin:25px 25px 25px 10px;
}

.phone h3 , .fax h3
{
	margin-bottom: 5px;
	font-size: 16px;
}

.phone p , .fax p
{
	font-size:13px;
	margin-top: 12px;
}

.phone span , .fax span
{
	font-size:24px;
	font-weight: bold;
}

.btn_tel
{
	width: 10%;
    max-width: 34px;
    padding-right: 5px;
}

.fax
{
	width: 30%;
    float: left;
    margin:25px 0px 25px 0px;
}

.btn_order
{
	float:right;
	margin:20px 0px 25px 0px;
	width:35%;
}

.btn_order a:hover{
	opacity:0.5;
}

.btn_content_pc{
	width:100%;
	max-width:340px;
}

/*spirits*/
.reg-spirits{
	margin-bottom:153px;
}

.img_spirits{	
	margin-top:50px;
	overflow: auto;
}

.img_spirits ul 
{
	width: 100%;
	text-align:center;
	float: left;
}

.img_spirits ul li
{
	width: 19%;
    display: inline-block;
	margin-left:0.2%;
}

.img_spirits ul li:first-child 
{
	margin-left:0%;
	margin-bottom: 7px;
}

img.ihara_pc
{
	animation-name: example;
    animation-duration: 4s;
    width: 100%;
}	

/*company*/	
.reg-company{
	margin-bottom:150px;
}

.img_company{
	margin-top: 52px;
}

.img_company ul
{
	width: 100%;
	text-align:center;
}

.img_company ul li:first-child
{
	width: 49%;
    display: inline-block;
}

.img_company ul li:nth-child(2)
{
	width: 49%;
    display: inline-block;
}

li.pd_company
{
	width: 24.1%;
    margin-top: 0.8%;
    display: inline-block;
}

img.company_pc
{
	animation-name: example;
	animation-duration: 4s;
	width: 100%;
    max-width: 480px;
}

/*information*/
.reg-information{
	margin-bottom:160px;
}

.text_information{
	margin-top:60px;
}

dl dt 
{
    font-family: Hirakakupro;
    font-size: 16px;
    font-style: normal;
    color: #999999;
    float: left;
    padding: 12px 45px 20px 5px;
}

dl dd 
{
    padding: 12px 0px 20px 0px;
    border-bottom: 1px dotted #b8bbbb;
}

dl dd a
{
	font-family: Hirakakupro;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    text-decoration: none;
    border-bottom: 1px solid #b8bbbb;
}

dl dd a:hover
{
	font-family: Hirakakupro;
	font-size: 16px;
	color:#dd0300;
}

/*footer*/
.nav-footer
{
	width:100%;
	margin-bottom: 20px;
	text-align: center;
}

.nav-footer ul li
{
	display: inline-block;
}

.nav-footer ul li a
{
	text-decoration: none;
	color:#999999;
	font-family:Hirakakupro;
	font-size:13px;
}

.nav-footer ul li a:hover
{
	text-decoration: none;
	color:#dd0300;
	font-family:Hirakakupro;
	font-size:13px;
}

.nav-footer ul li:nth-child(2n)
{
	display: inline-block;
	border-right: 1px solid #999999;
	padding:0px 10px 0px 10px;
	border-left: 1px solid #999999;
}

.nav-footer ul li:nth-child(2n) a
{
	text-decoration: none;
	color:#999999;
	font-family:Hirakakupro;
	font-size:13px;
}

.nav-footer ul li:nth-child(2n) a:hover
{
	text-decoration: none;
	color:#dd0300;
	font-family:Hirakakupro;
	font-size:13px;
}

.copyright
{
	background:#000000;
	text-align: center;
	font-family: Hirakakupro;
	font-size: 12px;
	font-style: normal;
	color: #ffffff;
	text-align:center;
	padding:20px;
}


/*---------------------------------------*/
/*sp*/

@media only screen and (max-width: 750px) 
{
	img.company_pc
	{
		display:none;
	}
	
	@keyframes example 
	{
		0%   {transform: scale(.2);}
		100% {transform: scale(1.0);}
	}
	
	.hidden-pc{
		display:none;	
	}
	
	.show-sp{
		display:block;
	}
	
}