/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face 
{
  font-family: HarenosoraMincho;
  src: url(../fonts/Harenosora.otf);
  font-weight: normal;
  font-style: normal; 
}

@font-face 
{
  font-family: Hirakakupro;
  src: url(../fonts/hirakakupro-w3.otf);
  font-weight: normal;
  font-style: normal; 
}

body {
	line-height: 1.5;
	position: relative;
	font-family: HarenosoraMincho;
	color: #000000;
	font-size: 16px;
	background:#fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@keyframes example 
{
	0%   {transform: scale(.2);}
	100% {transform: scale(1.0);}
}

.inner
{
	margin: 0 auto;
    height: auto;
    display: block;
    max-width: 970px;
	background:#ffffff;
	width:100%;
}

.show-sp{
	display:none;
}

.w-100
{
	width:100%;
}

.mg-auto{
	margin:0px auto;
}

.dis-block{
	display:block;
}

.clear-fix:after{
	clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.img-spirits-r1 li a,
.img-spirits-r2 li a,
.img-r1 li a,
.img-r2 li a,
.img-spirits li a{
	display:block;
}

/*header*/
.header{
	background: #fcfbfb;
}

.banner-pc{
	max-width: 1440px;
    margin: 0 auto;
	display: block;
}

.navi
{
	width: 30px;
    position: fixed;
    top: 27px;
    left: 35px;
}	

.navi ul
{
	margin: 10px 0px 0px 5px;
	width: 15px;
}

.navi ul li
{
	border-bottom: 2px solid #adadad;
}	

.navi ul li:last-child
{
	border-bottom: 0px solid #adadad;
}

.navi ul li a
{
	display: block;
    padding: 13px 0px 13px 0px;
	text-decoration:none;
	color:#000;
	line-height:1;
}

.navi ul li:first-child a
{
	display: block;
    padding: 0px 0px 13px 0px;
	text-decoration:none;
	color:#000000;
	line-height:1.2;
}

.navi ul li a:hover
{

	text-decoration:none;
	color:#db0300;
}

.btn-banner-pc
{
	position: fixed;
    top: 245px;
    right: 0px;
}

a:hover .btn-banner-pc
{
	opacity: 0.7;
}

/*kazunoko*/
.kazunoko
{
	background:#fcfbfb;
	margin-bottom:110px;
}

.about-us-kazunoko
{
	padding-top:60px;
}

.text-kazunoko{
	margin: 52px auto 0px auto;
    width: 770px;
}

.text-kazunoko p
{
    margin-bottom: 35px;
}

.text-kazunoko p:last-child
{
    margin-bottom: 0px;
}

/*products*/
.mt-9{
	margin-top:9%;
}

.mb-0{
	margin-bottom:0% !important;
}

.products
{
	margin-bottom:80px;
}

.product-content{
	width:100%;
}

.list-of-products 
{
    width: 100%;
    margin-top: 25px;
}

.product {
    width: 100%;
    margin-bottom: 30px;
	float: left;
}

.product a{
	padding-top: 5px;
	float:left;
	width: 2.3%;
	border-top: 2px solid #adadad;
}

.title-pro:hover{
	opacity:0.5;
}

.title-pro 
{
    width:100%;
	max-width: 20px;
}

.text-pro
{
	width: 54%;
    margin-left: 7.7%;
	float:left;
}

.text-pro-1
{
    font-size: 20px;
	margin-bottom: 30px;
}

.reg-product
{
    width: 28%;
	float:right;
}

.product-image
{
	animation-name: example;
    animation-duration: 4s;
    width: 100%;
	float: right;
}

.pro-img-1-pc{
	max-width:325px;
}

.pro-img-2-pc{
	max-width:342px;
}

.pro-img-3-pc{
	max-width:261px;
}

.pro-img-4-pc{
	max-width:293px;
}

/*order*/
.reg-order{
	margin-bottom:150px;
}

.order
{
	width: 100%;
    border-bottom: 1px solid #b8bbbb;
    height: 127px;
    border-color: #b8bbbb;
    border-top: double #b8bbbb;
}

.phone
{
	width: 30%;
    float: left;
    margin:23px 25px 27px 10px;
}

.phone h3 , .fax h3
{
	font-size: 16px;
}

.phone p , .fax p
{
	font-size:13px;
}

.phone span , .fax span
{
	font-size:24px;
	font-weight: bold;
}

.btn-tel
{
	width: 11%;
    max-width: 34px;
    padding-right: 5px;
}

.fax
{
	width: 30%;
    float: left;
    margin:23px 0px 27px 0px;
}

.btn-order
{
	float:right;
	margin:23px 0px 27px 0px;
	width:35%;
}

.btn-order a:hover{
	opacity:0.5;
}

.btn-content-pc{
	width:100%;
	max-width:340px;
}

/*spirits*/
.reg-spirits{
	margin-bottom:153px;
}

.img-spirits{	
	margin-top:50px;
	text-align:center;
	width: 100%;
}

.img-spirits li
{
	width: 18%;
    display: inline-block;
	margin-left:0.2%;
}

.img-spirits li:first-child 
{
	margin-left:0%;
	margin-bottom: 7px;
}

img.ihara-pc
{
	animation-name: example;
    animation-duration: 4s;
    width: 100%;
	max-width: 186px;
}	

/*company*/	
.reg-company{
	margin-bottom:150px;
}

.img-company{
	margin-top: 52px;
}

.img-r1 
{
	width: 100%;
	float:left;
}

.img-r2
{
	width: 100%;
	float:left;
	margin-top: 1.3%;
}

.img-r1 li:first-child
{
	width: 49.3%;
    display: inline-block;
	float:left;
}

.img-r1 li:last-child
{
	width: 49.3%;
    display: inline-block;
	float:right;
}

.img-r2 li
{
	width: 24%;
    display: inline-block;
    float: left;
    margin-right: 1.3%;
}

.img-r2 li:last-child
{
	width: 24%;
    display: inline-block;
    float: left;
    margin-right: 0%;
}

.img-big
{
	animation-name: example;
	animation-duration: 4s;
	width: 100%;
    max-width: 480px;
	height: auto;
	display: block;
}

.img-small {
    animation-name: example;
    animation-duration: 4s;
    width: 100%;
    max-width: 235px;
	height: auto;
	display: block;
}

/*information*/
.reg-information{
	margin-bottom:160px;
}

.text-information{
	margin-top:60px;
	display: inline-block;
    text-align: left;
    width: 100%;
	font-family: Hirakakupro;
}

.date
{
    color: #999;
    float: left;
    padding: 12px 45px 20px 5px;
    clear: left;
}

.event
{
    padding: 12px 0px 20px 150px;
    border-bottom: 1px dotted #b8bbbb;
}

.event a
{
	font-family: Hirakakupro;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #b8bbbb;
}

.event a:hover
{
	font-size: 16px;
	color:#dd0300;
}

/*footer*/
.nav-footer
{
	width:100%;
	margin-bottom: 20px;
	text-align: center;
}

.nav-footer li
{
	display: inline-block;
}

.nav-footer li a
{
	display: block;
	text-decoration: none;
	color:#999;
	font-family:Hirakakupro;
	font-size:13px;
}

.nav-footer li a:hover
{	
	text-decoration: none;
	color:#dd0300;
	font-family:Hirakakupro;
	font-size:13px;
}

.nav-footer li:nth-child(2n) a
{
	padding:0px 10px 0px 10px;
	display: block;
	text-decoration: none;
	color:#999;
	font-family:Hirakakupro;
	font-size:13px;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
}

.nav-footer li:nth-child(2n) a:hover
{
	text-decoration: none;
	color:#dd0300;
	font-family:Hirakakupro;
	font-size:13px;
}

.copyright
{
	background:#000;
	text-align: center;
	font-family: Hirakakupro;
	font-size: 12px;
	font-style: normal;
	color: #fff;
	text-align:center;
	padding:20px;
}


/*---------------------------------------*/
/*sp*/

@media only screen and (min-width: 751px) and (max-width:1130px) 
{

	body 
	{
		line-height: 1;
		position: relative;
		font-family: HarenosoraMincho;
		color: #000;
		font-size: 14px;
		background: #fff;
	}
	
	.navi
	{
		position: absolute;
		top: 27px;
		left: 35px;
		width: 30px;
	}
	
	.btn-banner-pc 
	{
		position: absolute;
		top: 245px;
		right: 0px;
	}
	
	.inner
	{
		margin: 0 auto;
		height: auto;
		display: block;
		max-width: 970px;
		background: #fff;
		width: 97%;
	}
	
	.img-r1 li {
		width: 48%;
		display: inline-block;
	}
	
	.img-r2 li {
		width: 24%;
		margin-top: 0.3%;
		display: inline-block;
	}
	
	.text-kazunoko {
		width:90%;
	}
	
	.phone h3, 
	.fax h3 {
		margin-bottom: 1%;
	}
	
	.phone p, 
	.fax p {
		margin-top: 2%;
		line-height: 1.2;
	}
}

@media only screen and (max-width: 750px) 
{
	
	body 
	{
		line-height: 1.5;
		position: relative;
		font-family: HarenosoraMincho;
		color: #000000;
		font-size: calc(14px + (23 - 14) * ((100vw - 320px) / (750 - 320)));
		background: #fff;
	}
	
	@keyframes example 
	{
		0%   {transform: scale(.2);}
		100% {transform: scale(1.0);}
	}
	
	.show-pc{
		display:none;	
	}
	
	.show-sp{
		display:block;
	}
	
	div.inner {
		margin: 0 auto;
		height: auto;
		display: block;
		max-width: 970px;
		background: #fff;
		width: 96%;
	}
	
	.banner-sp{
		max-width: 755px;
		margin: 0 auto;
	}
	
	.navi 
	{
		width: 95%;
		position: absolute;
		top: 0.2%;
		left: 2.6%;
	}
	
	.navi ul 
	{
		width: 100%;
		margin:1% 0%;
	}
	
	.navi ul li
	{
		display: inline-block;
		border-bottom: 0px;
		border-right: 0px;
	}

	.navi ul li a , 
	.navi ul li:first-child a 
	{
		
		padding:0px 1vw 0px 0px;
		display:block;
		font-size: 2.5vw;
		line-height: 1;
		font-weight:bold;
		border-right: 2px solid #adadad;
	}
	
	.navi ul li:last-child a 
	{
		padding: 0;
		display:block;
		font-size: 2.5vw;
		line-height: 1;
		font-weight:bold;
		border-right: 0px;
	}
	
	.logo-sp
	{
		display: inline-block;
		width: 33.5%;
		max-width: 280px;
	}
	
	.btn-banner-sp
	{
		position: absolute;
		display: block;
		right: 2%;
		top: 0%;
		width: 45%;
		max-width: 200px;
	}
	
	/*kazunoko*/
	
	.about-us-kazunoko {
		padding-top: 5.5%;
	}
	
	.title-1{
		max-width:280px;
		width:40%;
	}
	
	.text-kazunoko {
		margin: 6% auto 0% auto;
		width: 100%;
	}
	
	.text-kazunoko p {
		margin-bottom: 5%;
	}
	
	/*products*/
	.products {
		margin-bottom: 10.5%;
	}
	
	.list-of-products {
		margin-top: 6%;
	}
	
	.mt-6{
		margin-top: 6.8%;
	}
	
	.mt-2{
		margin-top: 2%;
	}
	
	.mt-8{
		margin-top: 8%;
	}
	
	.title-2{
		max-width:241px;
		width:40%;
	}
	
	.product {
		margin-bottom: 10%;
	}
	
	.product a {
		width: 4%;
		float: left;
		margin-left: 2.2%;
		border-top: 2px solid #adadad;
		padding-top: 2%;
	}

	.title-pro-sp {
		width: 100%;
		max-width: 26px;
	}
	
	.text-pro-sp {
		width: 83% !important;
		float: left;
		margin-left: 10%;
	}
	
	.text-pro-1-sp
	{
		float: left;
		width: 43.2%;
		font-size: calc(16px + (27 - 16) * ((100vw - 320px) / (750 - 320)));
	}
	
	.text-pro-2-sp
	{
		margin-top:2.5%;
		float:left;
		width: 100%;
	}
	
	.text-pro-2-sp:before{
		clear: both;
		content: "."
		display: block;
		height: 0;
		line-height: 0;
		visibility: hidden;
	}
	
	.reg-product-sp
	{
		width: 49%;
		float: right;
	}
	
	.product-image-sp
	{
		float: right;
		width: 90%;
		animation-name: example;
		animation-duration: 4s;
	}
	
	.pro-img-1{
		margin-top: -20%;
		max-width: 450px;
	}
	
	.pro-img-2{
		max-width:403px;
	}
	
	.pro-img-3{
		max-width:374px;
	}
	
	.pro-img-4{
		max-width:293px;
	}
	
	/*order*/
	.reg-order {
		margin-bottom: 14%;
	}

	.order {
		height: auto;
	}
	.phone {
		margin: 7% auto 9% auto;
		float:none;
		width: 80%;
	}
	
	.fax {
		width: 80%;
		float: none;
		margin: 0 auto 11% auto;
	}
	
	.btn-order {
		margin: 0 auto 10% auto;
		float: none;
		width: 80%;	
	}
	
	.phone h3, 
	.fax h3 {
		font-size: calc(16px + (27 - 16) * ((100vw - 320px) / (750 - 320)));
	}
	
	.phone span, 
	.fax span {
		font-size: calc(24px + (43 - 24) * ((100vw - 320px) / (750 - 320)));
		font-weight: bold;
	}
	
	.btn-tel-sp {
		width: 8%;
		margin-right: 5px;
	}
	
	.phone p, 
	.fax p {
		font-size: calc(8px + (21 - 8) * ((100vw - 320px) / (750 - 320)));
	}
	
	.btn_content_sm
	{
		display: block;
		width: 100%;
		margin: 0 auto;
		animation-name: example;
		animation-duration: 4s;
		max-width: 620px;
	}
	
	.btn_content_sm:hover
	{
		opacity:0.5;
	}
	
	/*spirits*/
	.reg-spirits {
		margin-bottom: 12%;
	}

	.title-3{
		max-width:265px;
		width:40%;
	}
	
	.img-spirits-sp {
		margin-top: 12.3%;
	}
	
	.img-spirits-r1{
		text-align: center;
		width: 100%;
	}
	
	.img-spirits-r2{
		width: 100%;
	}
	
	.img-spirits-r1 li {
		margin-bottom: 1%;
		display:inline-block;
		width: 30%;
	}
	
	.img-spirits-r2 li:first-child{
		display:inline-block;
		width:30%;
		margin-left:3.3%;
	}
	
	.img-spirits-r2 li:last-child{
		display:inline-block;
		width:30%;
	}
	
	.img-r1 li a,
	.img-r2 li a{
		display:block;
	}
	
	.ihara-pc {
		max-width: 215px !important;
	}
	
	/*company*/
	.reg-company {
		margin-bottom: 12.5%;
	}

	.title-4{
		max-width:320px;
		width:40%;
	}
	
	.img-company {
		margin-top: 9.6%;
	}
	
	.img-company ul
	{
		text-align: center;
		width: 100%;
	}
	
	.img-company ul li:nth-child(2n+1){
		width: 48%;
		display: inline-block;
		margin-bottom: 1%;
	}
	
	.img-company ul li:nth-child(2n+2){
		width: 48%;
		display: inline-block;
		margin-bottom: 1%;
	}
	
	.img-company ul li a{
		display:block;
	}
	
	.company-sm{
		width: 100%;
		max-width: 326px;
	}
	
	/*information*/
	.reg-information {
		margin-bottom: 20%;
	}

	.text-information {
		margin-top: 12.5%;
	}
	
	.text-information dt {
		padding: 7% 0% 0% 0%;
		float:none;
	}
	
	.text-information dd {
		padding: 2% 0% 8% 0%;
	}
	
	.pt-0{
		padding-top:0% !important;
	}
	
	/*footer*/
	.nav-footer ul li a {
		font-size: calc(12px + (19 - 12) * ((100vw - 320px) / (750 - 320)));
	}
	
	.nav-footer ul li:nth-child(2n) a {
		font-size: calc(12px + (19 - 12) * ((100vw - 320px) / (750 - 320)));
	}
	
	.nav-footer {
		margin-bottom: 6%;
	}
	
	.copyright {
		font-size: calc(12px + (19 - 12) * ((100vw - 320px) / (750 - 320)));
	}
}